{% extends "base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}

<div class="col-lg-8 mx-auto border p-5 rounded-4 shadow">
  <h1 class="text-center">{% trans "Register" %}</h1>
  <hr>

  <p class="text-center">{% blocktrans %}Already have an account? Then <a
      href="{{ login_url }}">sign
      in</a>.{% endblocktrans %}</p>
  <form class="signup"
    id="signup_form"
    method="post"
    action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-6 mb-2">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="col-lg-6 mb-2">
        {{ form.email2|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-2">
        {{ form.password1|as_crispy_field }}
      </div>
      <div class="col-lg-6 mb-2">
        {{ form.password2|as_crispy_field }}
      </div>
    </div>
    {% if redirect_field_value %}
    <input type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="text-end my-3">
      <button class="btn btn-outline-dark"
        type="submit">{% trans "Register" %}</button>
    </div>
  </form>
</div>

{% endblock %}