{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
{{object}}
{% endblock head_title %}


{% block content %}

{% if request.user.carer_profile %}

{% else %}
<div class="container my-3">
    <a class="btn btn-sm btn-outline-dark rounded-pill" href="{% url 'medical-care-profile-create' %}">Become a carer</a>
</div>
{% endif %}
    


<form action=""
    enctype="multipart/form-data"
    method="post">
    {% csrf_token %}
    <div id='form-errors'>{{ form_errors }}</div>
    <div class="col-lg-6 mx-auto">
        <div class="border rounded-4 p-5">
            <div class="row">
                {{ form.image|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.last_name|as_crispy_field }}
            </div>
            <div class="my-3 text-end">
                <button class="btn btn-outline-dark rounded-pill"
                    type="submit">Submit</button>
            </div>
        </div>
        <br>
        <div class="border rounded-4 p-5">
            <div class="row">
                {{ form.phone|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.phone1|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.address|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.address1|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.location|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.postal_code|as_crispy_field }}
            </div>
            <div class="my-3 text-end">
                <button class="btn btn-outline-dark rounded-pill"
                    type="submit">Submit</button>
            </div>
        </div>
        <br>
        <div class="border rounded-4 p-5">
            <div class="row">
                {{ form.dob|as_crispy_field }}
            </div>
         
            <div class="row">
                {{ form.bio|as_crispy_field }}
            </div>
            <div class="row">
                {{ form.gender|as_crispy_field }}
            </div>
            <div class="my-3 text-end">
                <button class="btn btn-outline-dark rounded-pill"
                    type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>

{% endblock content %}