{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
{{object}}
{% endblock head_title %}


{% block content %}
<h1 class="text-center">{{object}}</h1>
<hr>
<br>
<div class="col-lg-8 mx-auto border p-5 rounded-4 shadow">
    <form action=""
        method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 mb-2">
                {{ form.exp|as_crispy_field }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-5 mx-auto mb-2 border p-5 rounded-4 shadow">
                <h4 class="text-center">Qualifications</h4>
                <hr>
                {{ form.qualifications|as_crispy_field }}
            </div>
            <div class="col-lg-5 mx-auto mb-2 border p-5 rounded-4 shadow">
                <h4 class="text-center">Skills</h4>
                <hr>
                {{ form.skills|as_crispy_field }}
            </div>
        </div>
        <hr>
        <div class="my-3 text-end">
            <button class="btn btn-outline-dark px-5 shadow"
                type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock content %}