{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
{{request.user.profile}}
{% endblock head_title %}


{% block content %}
<h1 class="text-center">{{request.user.profile}}</h1>
<hr>
<br>
<div class="col-lg-8 mx-auto border p-5 rounded-4 shadow">
    <form action=""
        method="post">
        {% csrf_token %}
      <div class="row">
        <div class="col-lg-6 mx-auto mb-2">
            {{ carer.exp|as_crispy_field }}
        </div>
        <div class="col-lg-6 mx-automb-2">
            {{ form.hourly_rate|as_crispy_field }}
        </div>
    </div>
        <div class="my-3 text-end">
            <button class="btn btn-outline-dark shadow"
                type="submit">Become a carer</button>
        </div>
    </form>
</div>

{% endblock content %}