<div class="d-flex py-4 px-5 bg-white shadow">
    <a class="text-decoration-none text-dark me-2"
        href="/">Anya</a>
    {% if request.user.is_authenticated %}
    <div class="dropdown me-2">
        <button class="bg-transparent border-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Profile
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item"
                    href="{{request.user.profile.get_absolute_url}}">User</a>
            </li>
            {% if request.user.carer_profile %}
            <li><a class="dropdown-item"
                    href="{{ request.user.carer_profile.get_absolute_url }}">Medical</a>
            </li>
            {% endif %}
            <hr class="m-0 p-0">
            <li><a class="dropdown-item"
                    href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
    </div>
    <a class="text-decoration-none text-dark me-2"
        href="{% url 'work-list' %}">Job listings</a>
    {% else %}
    <a class="text-decoration-none text-dark me-2"
        href="{% url 'account_login' %}">Login</a>
    <a class="text-decoration-none text-dark me-2"
        href="{% url 'account_signup' %}">Register</a>
    {% endif %}
</div>
<!-- <a style="position: fixed; top:2%; right:1%; z-index:1;"
    class="text-decoration-none fs-1 rounded-circle bg-dark text-white p-1"
    href="">{{request.user.profile.first_name.0}}{{request.user.profile.last_name.0}}</a> -->